<div class="container">
    <h2>Multi Tenant Apps</h2>
    <ul>
        <li><a href="@Url.Action("Index", "ListAllOrder")">List All Orders For The Tenants (based on country)</a></li>
        <li><a href="@Url.Action("Index", "ListOfProduct")">List Of Product (based on country)</a></li>
        <li><a href="@Url.Action("Index", "MonthlySalesReport")">Monthly Sales Report</a></li>
    </ul>
</div>